/* Styling for the fresh look section */
.fresh-look-section {
  background-image: url("../../assets/jacket.png"); /* Background image */
  background-color: #000; /* Background color */
  background-position: right; /* Position of the background image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  display: flex;
  align-items: center; /* Vertically center content */
}

/* Styling for the content within the fresh look section */
.section-content {
  color: #fff; /* Text color */
  font-family: Arial, sans-serif; /* Font family for the text */
}

/* Styling for the text container */
.text-container {
  margin-top: 200px; /* Top margin for spacing */
  line-height: 1; /* Adjust line height for text */
  padding-bottom: 100px; /* Bottom padding for spacing */
}

/* Styling for the "fresh" text */
.fresh {
  font-size: 135px; /* Font size */
  font-weight: 800; /* Font weight */
  font-family: "Syne", sans-serif; /* Font family */
  margin-left: 175px; /* Left margin for positioning */
}

/* Styling for the "year" text */
.year-text {
  font-size: 135px; /* Font size */
  font-weight: 800; /* Font weight */
  font-family: "Syne", sans-serif; /* Font family */
  margin-left: 500px; /* Left margin for positioning */
  -webkit-text-stroke: 2px #fff; /* White text stroke (outline) */
  color: transparent; /* Make text transparent */
}

/* Styling for the "look" text */
.look {
  font-size: 135px; /* Font size */
  font-weight: 800; /* Font weight */
  font-family: "Syne", sans-serif; /* Font family */
  margin-left: 250px; /* Left margin for positioning */
}

/* Styling for the "see more" button */
.see-more-button {
  background-color: black; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px; /* Button padding */
  border: 1px solid white; /* Button border */
  font-size: 18px; /* Button text font size */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition on hover */
  margin-left: 140px; /* Left margin for positioning */
  margin-bottom: 40px; /* Bottom margin for spacing */
}

/* Styling for the "see more" button on hover */
.see-more-button:hover {
  background-color: #000; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}
