.fresh-look-section {
  background-image: url("../../assets/jacket.png");
  background-color: #000;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  padding: 0;
}

.section-content {
  color: #fff;
  font-family: Arial, sans-serif;
}

.text-container {
  margin-top: 200px;
  line-height: 1;
  padding-bottom: 100px;
}

.fresh {
  font-size: 135px;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  font-family: "Syne", sans-serif;
  margin-left: 180px;
}

.year-text {
  font-size: 135px;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  font-family: "Syne", sans-serif;
  margin-left: 500px;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.look {
  font-size: 135px;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  font-family: "Syne", sans-serif;
  margin-left: 265px;
}

.see-more-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 140px;
  margin-bottom: 40px;
}

.see-more-button:hover {
  background-color: #000;
  color: #fff;
}
